<div class="panel panel-default">
	<div class="panel-body">
		<%= search_form_for @q do |f| %>
			<%= f.input :name_or_description_or_company_name_cont, label: false, html: { class: 'product-name-field' } %>
			<div class="form-group location-form-group">
				<div class="input-group">
					<%= text_field_tag :location, user_address, placeholder: t('location_were_you_are'), class: 'form-control current-location-field' %>
					<%= link_to "#", class: 'user-location-renew-button input-group-addon' do %>
						<span class="glyphicon glyphicon-refresh"></span>
					<% end %>
				</div>
				<span id="helpBlock" class="help-block"><%= t('address_not_valid') %></span>
			</div>

			<%= hidden_field_tag :lng, "", id: 'longitude-field' %>
			<%= hidden_field_tag :lat, "", id: 'latitude-field' %>

			<%= f.button :submit, t('show_all'), class: 'search-button' %>
		<% end %>
	</div>
</div>
