<h1>
	<%= @company.name %>
	<small>
		<%= @company.address %>
		<% if @distance_to_company %>
			| <%= @distance_to_company.round(2) %> km <%= t('away') %>
		<% end %>
	</small>
</h1>

<h3>
	<span class="glyphicon glyphicon-earphone"></span> <%= @company.phone_number %>&nbsp;&nbsp;&nbsp;
	<span class="glyphicon glyphicon-envelope"></span> <%= @company.email %>
</h3>

<% if current_company == @company && @company.remaining_products != nil %>
	<div class="panel panel-default">
		<div class="panel-body">
			<h2><%= t('private_information') %></h2>

			<p>
				<%= t('remaining_products_for_publishing') %>: <%= @company.remaining_products %>
			</p>
		</div>
	</div>
<% end %>

<div class="col-md-6">
	<h2><%= Product.model_name.human(count: @products.count) %></h2>

	<% if @products.empty? %>
		<%= t('currently_no_products_available') %>
	<% else %>
		<% @products.each do |product| %>
			<%= render 'products/wrapper', product: product %>
		<% end %>
	<% end %>
</div>

<div class="col-md-6">
	<h2><%= Message.model_name.human(count: @messages.count) %></h2>

	<% unless company_signed_in? %>
		<% if @distance_to_company && @distance_to_company < 0.5 %>
			<p><%= t('you_are_in_this_shop') %></p>

			<%= simple_form_for [@company, @message] do |f| %>
				<%= f.input :content, label: false %>
				<%= f.submit class: 'btn btn-primary' %>
			<% end %>

			<br>
		<% else %>
			<p><%= t('go_to_this_shop_to_write_a_message') %></p>
		<% end %>
	<% end %>

	<% @messages.each do |message| %>
		<%= render 'company/messages/wrapper', message: message %>
	<% end %>

	<% if @messages.empty? %>
		<%= t('no_messages_till_now') %>
	<% end %>
</div>

<%#= render 'company/products/table' %>

<%#= link_to t('new_model', model: Product.model_name.human), new_company_product_path(@company) %>