<h1>
	<%= @company.name %>
	<small>
		<%= @company.address %>
		<% if current_user_location && @company != current_company %>
			| <%= @company.distance_to(current_user_location).round(2) %> km <%= t('away') %>
		<% end %>
	</small>
</h1>

<h2><%= Product.model_name.human(count: @products.count) %></h2>

<% if @products.empty? %>
	<%= t('currently_no_products_available') %>
<% else %>
	<% @products.each do |product| %>
		<%= render 'products/wrapper', product: product %>
	<% end %>
<% end %>

<%#= render 'company/products/table' %>

<%#= link_to t('new_model', model: Product.model_name.human), new_company_product_path(@company) %>