<table class="table">
	<thead>
		<tr>
			<th><%= t('product.name') %></th>
			<th><%= t('product.price') %></th>
			<th><%= t('product.status') %></th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= link_to product.name, [@company, product] %></td>
				<td><%= number_to_currency product.price %></td>
				<td><%= t("#{product.status}") %></td>
				<td><%= link_to t('edit'), edit_company_product_path(@company, product) %></td>
				<td><%= link_to t('delete'), [@company, product], method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>