<% provide(:title, @product.name) %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-4">
			<%= image_tag @product.product_picture, width: '100%', class: 'img-thumbnail' %>

			<% if @product.description.present? %>
				<h3>
					<%= t('description') %>
				</h3>

				<p>
					<%= h(@product.description).gsub(/\n/, '<br>').html_safe %>
				</p>
			<% end %>
		</div>

		<div class="col-md-8 text-center">
			<h1>
				<%= @product.name %>
				<small>
					<%= t('by_model', model: link_to(@company.name, @company)).html_safe %>
					<% if current_user_location.present? %>
						<br><%= @product.distance_to(current_user_location).round(2) %> km <%= t('away') %>
					<% end %>
				</small>
			</h1>
			<% if @product.category %>
				<p><span class="label label-default"><%= @product.category.name %></span></p>
			<% end %>
			<% if @product.order_link.present? %>
				<%= link_to t('order'), @product.order_link, class: 'btn btn-primary', target: '_blank' %>
			<% end %>

			<p>
				<h3>
					<% if @product.price_on_request %>
						<%= t('price_on_request') %>
					<% else %>
						<%= number_to_currency @product.price %>
					<% end %>
				</h3>
				<%= @company.address %><br>

				<span class="glyphicon glyphicon-earphone"></span> <%= @company.phone_number %>&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-envelope"></span> <%= @company.email %>
			</p>

			<div class="thumbnail" id="map" style="height: 400px"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	buildMap(<%=raw @maps_hash.to_json %>, setZoom = true);
</script>