<% content_for :meta_tags do %>
	<%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
	<%= tag :meta, property: "og:title", content: @product.name %>
	<%= tag :meta, property: "og:description", content: @product.description.present? ? @product.description : t('product_by', company: @company.name) %>
	<%= tag :meta, property: "og:type", content: "product" %>
	<%= tag :meta, property: "og:url", content: company_product_url(@company, @product) %>
	<%= tag :meta, property: "og:image", content: @product.product_picture.url %>
	<%= tag :meta, property: "og:locale", content: "de_AT" %>
	<%= tag :meta, property: "og:locale:alternate", content: "en_US" %>
	<%= tag :meta, property: "og:site_name", content: "Vendox" %>
	<%= tag :meta, property: "product:price:amount", content: @product.price if @product.price.present? %>
	<%= tag :meta, property: "product:price:currency", content: "EUR" if @product.price.present? %>
	<%= tag :meta, property: "product:retailer_title", content: @company.name %>
<% end %>

<% provide(:title, @product.name) %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-4">
			<%= image_tag @product.product_picture, width: '100%', class: 'img-thumbnail' %>

			<% if @product.description.present? %>
				<h3>
					<%= t('description') %>
				</h3>

				<p>
					<%= h(@product.description).gsub(/\n/, '<br>').html_safe %>
				</p>
			<% end %>
		</div>

		<div class="col-md-8 text-center">
			<h1>
				<%= @product.name %>
				<small>
					<%= t('by_model', model: link_to(@company.name, @company)).html_safe %>
					<% if current_user_session && current_user_session.coordinates.present? %>
						<br><%= @product.distance_to(current_user_session.coordinates).round(2) %> km <%= t('away') %>
					<% end %>
				</small>
			</h1>
			<% if @product.order_link.present? %>
				<%= link_to t('order'), @product.order_link, class: 'btn btn-primary', target: '_blank' %>
			<% end %>

			<p>
				<h3>
					<% if @product.price_on_request %>
						<%= t('price_on_request') %>
					<% else %>
						<%= number_to_currency @product.price %>
					<% end %>
				</h3>
				<%= @company.address %><br>

				<span class="glyphicon glyphicon-earphone"></span> <%= @company.phone_number %>&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-envelope"></span> <%= @company.email %>
			</p>

			<p>
			<div class="fb-like" data-href="<%= company_product_url(@company, @product) %>" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
			</p>

			<div class="thumbnail" id="map" style="height: 400px"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	buildMap(<%=raw @maps_hash.to_json %>, setZoom = true);
</script>