<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-4">
			<%= image_tag @product.product_picture, width: '100%', class: 'img-thumbnail' %>
		</div>

		<div class="col-md-8">
			<h1>
				<%= @product.name %>
				<small>
					<%= t('by_model', model: link_to(@company.name, @company)).html_safe %>
				</small>
			</h1>

			<p>
				<%= number_to_currency @product.price %><br>
				<%#= t("#{@product.status}") %>
				<%= @company.address %>
			</p>

			<%#= link_to t('edit'), edit_company_product_path(@company, @product) %><br>
			<%#= link_to t('delete'), [@company, @product], method: :delete %>
		</div>
	</div>
</div>