<div class="col-md-12 footer text-center">
	<div class="current-location-wrapper">
		<% if user_address %>
			<span class="current-location-info">
				<%= t('your_current_location_is') %>
				<strong>
					<%= user_address %>
				</strong>
			</span>
			| <%= link_to t('renew_location'), "#", class: 'user-location-renew-button' %>
		<% end %>
	</div>

	<br>

	<p>
		<%= link_to t('imprint'), imprint_path %>
	</p>
	
	<%= link_to "https://www.facebook.com/vendoxfinder" do %>
		<%= image_tag "/logo/facebook-brand.png" %>
	<% end %>
</div>