<div class="col-md-12 footer text-center">
	<div class="current-location-wrapper">
		<span class="current-location-info">
			<%= t('your_current_location_is') %>
			<strong>
				<span id="user-address">
					<%= user_address if user_address %>
				</span>
			</strong>
			| <%= link_to t('renew_location'), "#", class: 'user-location-renew-button' %>
		</span>
	</div>

	<br>

	<p>
		<%= link_to t('imprint'), imprint_path %>
	</p>
	
	<%= link_to "https://www.facebook.com/vendoxfinder" do %>
		<%= image_tag "/logo/facebook-brand.png" %>
	<% end %>
</div>