<%= simple_form_for :location, method: :get do |f| %>
	<%= f.input :address %>
	<%= f.button :submit, "Find" %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Company TODO</th>
			<th>Address TODO</th>
			<th>Product TODO</th>
			<th>Price TODO</th>
			<% if params[:location] && params[:location][:address] %>
				<th>Distance TODO</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.company.name %></td>
				<td><%= product.company.address %></td>
				<td><%= product.name %></td>
				<td><%= number_to_currency product.price %></td>
				<% if params[:location] && params[:location][:address] %>
					<td><%= product.company.distance_to(params[:location][:address]).round(2) %> km</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @products %>