<div class="text-center">
	<h1>
		<%= t('welcome_title') %>
		<br>
		<small>
			<%= link_to t('learn_more'), about_path %>
		</small>
		<br>
	</h1>
	
	<div class="col-md-offset-4 col-md-4">
		<%= render 'product/products/search_form' %>
	</div>

	<div class="col-md-12">
		<%= link_to "https://itunes.apple.com/at/app/vendox-finder/id1001924240?l=en&mt=8" do %>
			<%= image_tag "/badges/app_store_badge.png", id: 'app-store-badge' %>
		<% end %>
	</div>

	<div class="col-md-12 facebook-like-wrapper">
		<div class="fb-like" data-href="https://www.facebook.com/vendoxfinder" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>

	<div class="col-md-12 not-listed-wrapper">
		<h2><%= t('not_listed.title') %></h2>
		<h3>
			<%= t('not_listed.send_us_an_email') %>
			<br>
			<%= link_to "incorporate@vendox.net", "mailto:incorporate@vendox.net" %>
			<br>
			<%= t('not_listed.and_we_will_contact_you') %>
		</h3>
	</div>
</div>