<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.3";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="text-center">
	<h1><%= t('welcome_title') %></h1>

	<div class="col-md-offset-4 col-md-4">
		<%= render 'products/search_form' %>
	</div>

	<div class="col-md-12 facebook-like-wrapper">
		<div class="fb-like" data-href="https://www.facebook.com/pages/Vendox/1075011619182413" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>

	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<%= t('currently_free_box.important_currently_free') %>
				</h3>
			</div>

			<div class="panel-body">
				<p>
					<%= t('currently_free_box.young_company') %>
				</p>
				<p>
					<%= t('currently_free_box.free') %>
				</p>

				<p>
					<%= t('currently_free_box.register') %><br>
					<strong>
						<%= link_to t('currently_free_box.here'), new_company_registration_path %>
					</strong><br>
					<%= t('currently_free_box.start_selling') %>
				</p>

				<p>
					<strong><%= t('already_registered') %></strong><br>
					<%= link_to t('login'), new_company_session_path %>
				</p>
			</div>
		</div>

		<h2><%= t('companies_who_presenting') %></h2>
		
		<div class="thumbnail" id="map" style="height: 500px"></div>
	</div>

	<div class="col-md-12">
		<h2><%= t('not_listed') %></h2>
		<h3>
			<p><%= t('currently_free_box.register') %></p>
			<p><%= link_to t('currently_free_box.here'), new_company_registration_path %></p>
			<p><%= t('currently_free_box.start_selling') %></p>
		</h3>

	</div>
</div>

<script type="text/javascript">
	buildMap(<%=raw @maps_hash.to_json %>);
</script>