<div class="product-wrapper media col-md-12 <%= 'inactive-product' if product.inactive? %>">
	<div class="media-left media-middle">
		<%= link_to [product.company, product] do %>
			<%= image_tag product.product_picture, class: 'img-rounded' %>
		<% end %>
	</div>
	<div class="media-body">
		<div class="col-md-9">
			<h2>
				<%= link_to product.name, [product.company, product] %>
				<small>
					<%= number_to_currency product.price %>
					<% if current_company == product.company %>
						| <%= link_to t('edit'), [:edit, product.company, product] %> <%= "| #{t('inactive')}" if product.inactive? %>
					<% end %>
				</small>
			</h2>
		</div>
		<% if @user_location.present? %>
			<div class="col-md-3 text-right">
				<h2>
					<%= product.distance_to(@user_location).round(2) %> km
				</h2>
			</div>
		<% end %>
		<div class="col-md-12">
			<h4>
				<%= link_to product.company.name, product.company %>
				<small>
					<%= product.company.address %>
				</small>
			</h4>
		</div>
	</div>
</div>