<div class="col-md-3 text-center">
	<h2><%= t('search') %></h2>
	<%= search_form_for @q do |f| %>
		<%= f.input :name_cont %>
		<%= text_field_tag :location %>
		<%= f.button :submit %>
	<% end %>
</div>
<div class="col-md-9">
	<% @products.each do |product| %>
		<div class="product-wrapper col-md-12">
			<div class="col-md-8">
				<h1>
					<%= product.name %>
					<small>
						<%= number_to_currency product.price %>
					</small>
				</h1>
			</div>
			<div class="col-md-4 text-right">
				<h1><%= product.company.distance_to("6134").round(2) %> km</h1>
			</div>
			<div class="col-md-12">
				<h3><%= product.company.name %></h3>
				<%= product.company.address %>
			</div>
		</div>
	<% end %>
</div>