<!DOCTYPE html>
<html>
<head>
	<% if content_for?(:title) %>
		<title><%= yield(:title) %> | Vendox</title>
	<% else %>
		<title>Vendox</title>
	<% end %>
	<%= Gon::Base.render_data %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag '//maps.google.com/maps/api/js' %>
	<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
	
	<%= csrf_meta_tags %>

	<%= tag :meta, name: 'viewport', content: "width=device-width, initial-scale=1, maximum-scale=1" %>
	<%= tag :meta, name: 'description', content: t('site_description') %>
	<%= tag :meta, name: 'keywords', content: "Locationbased,Standortbasiert,Finder,Produkt" %>
	<%= tag :meta, name: 'apple-itunes-app', content: "app-id=1001924240" %>

	<%= yield :head %>

	<%= favicon_link_tag '/logo/favicon.png' %>
	<%= favicon_link_tag '/logo/ios-favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body>

<%= render 'shared/navbar' %>

<%= render 'shared/messages' %>

<div class="container">
	<%= yield %>

	<%= render 'shared/footer' %>
</div>

<% if Rails.env.development? %>
	<%= console %>
<% end %>

</body>
</html>
